html, body {
  background-color: #EEEEEE;
  color: #333333;
  font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
  font-size: 16px;
}

.captcha_answer {
  width: 200px; 
}

.version {
  font-size: 50%;
}

#categories {
}

#actions {
  margin-right: 0px;
  margin-top:10px;
}

#navs {
  margin-top:16px;
  width: 300px;
}

#search {
  margin-left: 100px;
  margin-top:10px;
  width: 200px;
}

#placesd {
  margin-left: 15px;
  margin-bottom: 50px;
}

#head-panel {
  padding-right:22px;
}

.board-name {
  font-family: Tahoma;
  font-size: 350%;
  color: #FF6600;
  padding-left: 10px;
  cursor: default;
  text-decoration: underline;
}

.noselect {
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.not-avail {
  color: red;
}

.not-avail:hover {
  text-decoration: none;
}

.btn-title {
  font-size: 100%;
  font-family: Tahoma;
}

.reply {
  margin: 0.5em;
}

#thread {
  margin-left: 10px;
}

#statusd1, #statusd2 {
  text-align: center;
}

.searchfield {
  width: 500px;
  outline: 0;
}

.reply-button {
  float: right;
  margin-bottom: 0.4em;
  margin-right: 0.2em;
}

.word-search {
  background-color: yellow;
}

gr {
  color: #789922;
}

g {
  color: #888;
  font-size: 90%;
  font-style: italic;
}

textarea {
  width: 500px;
  height: 330px;
  outline: 0;
}

.post {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 0;
  margin: .4em 0;
  padding: 2px;
  min-width: 200px;
  width: auto;
  max-width: 95%;
  margin-right: auto;
  display: table;
}

.post:first-of-type {
  background-color: #eee;
  border: 0;
}

.reply-div {
  display: inline-block;
}

img {
  border: 1px dotted white;
  max-width: 200px;
  max-height: 300px;
}

.full {
  max-width: 4000px;
  max-height: 4000px;
  border-width: 0;
}

a {
  color: #FF6600;
  text-decoration: underline;
}

a:hover {
  color: #0066FF;
}

a:visited {
  color: #FF6600;
  text-decoration: underline;
}

a:active {
  color: #FF6600;
  text-decoration: underline;
}

a:hover {
  color: #0066FF;
  text-decoration: underline;
}

a:focus {
  color: #0066FF;
  text-decoration: underline;
}

.high {
  background-color: #FFCCAA;
}

sp {
  background-color: #ddd;
  color: #ddd;
}

/*tags, inside spoiler*/
sp gr, sp b, sp i, sp u, sp s, sp sub, sp sup, sp pre, sp span{
	background: inherit;
	color: inherit;
}

sp:hover {
  background-color: inherit;
  color: inherit;
}

sp a:hover{
	background: inherit;
	color: #dd0000;
	padding: 2px;
	
	-webkit-transition: all 5s ease-in;
	-moz-transition: all 5s ease-in;
	-o-transition: all 5s ease-in;
	-ms-transition: all 5s ease-in;
	transition: all 5s ease-in;
}

sp a:not(:hover){
	background: #ddd;
	color: #ddd;
	padding: 2px;
	-webkit-transition: all 0s ease-in;
	-moz-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	-ms-transition: all 0s ease-in;
	transition: all 0s ease-in;
}

sp pre:hover {
	background: #ddd;
	color: #000000;
}

/*tags inside quote:*/
gr:hover {
	background: inherit;
	color: #789922;
}

gr b, gr i, gr u, gr s, gr sup, gr sub, gr span {
	background: inherit;
	color: inherit;
}
gr pre{
	background: #ddd;
	color: #000000;
}

.post-inner {
  word-break: normal;
  overflow: auto;
  max-height: 40em;
  padding: 0em 0.25em;
  margin: .5em;
}
