* {
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
}

.captcha_answer {
  width: 200px; 
}

.version {
  font-size: 50%;
}

#actions {
  margin-right: 0px;
  margin-top:10px;
}

#navs {
  margin-top:16px;
}

#search {
  margin-top:10px;
}

#placesd {
  margin-left: 15px;
  margin-bottom: 50px;
}

#head-panel {
  padding-right:22px;
}

.board-name {
  font-family: Tahoma;
  font-size: 350%;
  color: #58a;
  padding-left: 10px;
  text-decoration: none;
  cursor: default;
}

.noselect {
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.not-avail {
  color: red;
}

.not-avail:hover {
  text-decoration: none;
}

.btn-title {
  font-size: 100%;
  font-family: Tahoma;
}

.reply {
  margin: 0.5em;
}

#thread {
  margin-left: 10px;
}

#statusd1, #statusd2  {
  text-align: center;
}

.searchfield {
  width: 500px;
  outline: 0;
}

.reply-button {
  float: right;
  margin-bottom: 0.4em;
  margin-right: 0.2em;
}

.word-search {
  background-color: yellow;
}

gr {
  color: green;
}

g {
  color: #888;
  font-style: italic; 
  font-size: 75%;
}

textarea {
  width: 300px;
  height: 130px;
  outline: 0;
}

.post {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: .4em;
  margin: .4em 0;
  max-width: 600px;
  margin-right: auto;
}

.reply-div {
  display: inline-block;
}

img {
  border: 1px dotted white;
  max-width: 200px;
  max-height: 300px;
}

.full {
  max-width: 4000px;
  max-height: 4000px;
  border-width: 0;
}


a:hover {
  color: salmon;
}

.high {
  background-color: moccasin;
  border-style: dotted;
}

sp {
  background-color: #ccc;
  color: #ccc;
}

sp a, sp gr, sp b, sp i, sp u, sp s, sp sub, sp sup, sp pre, sp span {
  background-color: inherit;
  color: inherit;
}

a sub, a sup {
	color: inherit;
}

sp:hover {
  background-color: inherit;
  color: inherit;
}

sp a:hover{
	background: inherit;
	color: salmon;
	padding: 2px;
	
	-webkit-transition: all 5s ease-in;
	-moz-transition: all 5s ease-in;
	-o-transition: all 5s ease-in;
	-ms-transition: all 5s ease-in;
	transition: all 5s ease-in;
}

sp a:not(:hover){
	background: #ccc;
	color: #ccc;
	padding: 2px;
	-webkit-transition: all 0s ease-in;
	-moz-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	-ms-transition: all 0s ease-in;
	transition: all 0s ease-in;
}

sp pre:hover {
	background: #f5f5f5;
	color: #000000;
}

gr:hover{
	background: inherit;
	color: green;
}

gr b, gr i, gr u, gr s, gr sup, gr sub, gr span {
	background: inherit;
	color: inherit;
}
gr pre{
	background: #f5f5f5;
	color: #000000;
}

b:hover, i:hover, u:hover, s:hover, sup:hover, sub:hover {
	color: inherit;
}

.post-inner {
  word-break: normal;
  overflow: auto;
  max-height: 40em;
  padding: 0em 0.25em;
  margin: .5em;
}
